@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

.centered {
	text-align: center;
}

.top-right {
	position: fixed;
	top: 10px;
	right: 10px;
}

.bottom-right {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

#main-title {
	color: purple;
	size: 69px;
	font-family: Sofia;
	font-size: 42px;
}