@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

.centered {
	text-align: center;
}

#main-title {
	color: purple;
	size: 69px;
	font-family: Sofia;
	font-size: 42px;
}

#user-information {
	position: fixed;
	top: 10px;
	right: 10px;
}

#timer {
	position: fixed;
	bottom: 10px;
	right: 10px;
}
